.pisca {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}
@font-face {
    font-family: "Sketchetik-Light.ttf";
    src: url('../Fontes/Sketchetik-Light.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "DejaVuSansMono.ttf";
    src: url('../Fontes/DejaVuSansMono.ttf');
    font-weight: lighter;
    font-style: normal;
}
@font-face {
    font-family: "DejaVuSansMono-Bold.ttf";
    src: url('../Fontes/DejaVuSansMono-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: "DejaVuSansMono-Oblique.ttf";
    src: url('../Fontes/DejaVuSansMono-Oblique.ttf');
    font-weight: normal;
    font-style: oblique;
}
*{text-decoration: none;}
body{
    padding: 0;
    margin: 0;
}
div, fieldset, input[type=text], input[type=button]{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    justify-content: flex-start;
    margin: 0;
    border: 0;
    padding: 0;
    font-family: "DejaVuSansMono.ttf";
    outline: none;
}
.coluna{
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 50pt;
    border-left: 150px solid black;
    width: 800px;
    flex-direction: column;
}
.projeto{
    background: linear-gradient( 180deg , rgba(255,255,255,0), rgba(255,255,255,0), rgba(255,255,255,0));
    margin-bottom: 100px;
    align-content: space-between;
    /*align-items: flex-end;*/
    /*          text-align: justify;
              text-justify: inter-word;*/
    width: 250px;
    height: 300px;
    font-size: 25pt;
    border-top: 1pt solid rgba(0,0,0,0) ;
    border-right: 0pt solid black ;
    border-bottom: 1pt solid rgba(0,0,0,0) ;
    border-left: 0pt solid black;
}
.projeto:hover{
    background: linear-gradient( 30deg , rgba(255,255,255,1), rgba(255,255,255,0), rgba(255,255,255,0));
    border-style: solid;
    border-top: 1pt solid black ;
    border-right: 0pt solid black ;
    border-bottom: 1pt solid black ;
    border-left: 0pt solid black;
}

.linha{
    flex-direction: row;
    justify-content: space-between;
}
div.titulo{
    padding-top: 100pt;
}
div.titulo, div.subtitulo{
    border-right: 1px solid black;
    width: inherit;
    font-family: "Sketchetik-Light.ttf";
    font-size: 150px;
}
div.subtitulo{
    justify-content: flex-start;
    text-align: left;
    font-family: "DejaVuSansMono.ttf";
    font-size: 12px;
}
a{ 
    color: black;}
a:visited{ 
    opacity: 0.5;
}
p{
    font-size: 9pt;
}
.rodape{
    margin-bottom: 0;
    padding-bottom: 25px;
    border-right: 1px solid black;
}
/*mesmo que o form*/
fieldset{
    display: inline;
    width: 750px;
}
input[type=text]{
    display: inline;
    font-family: "DejaVuSansMono.ttf";
    font-size: 16pt;
    padding: 5px;
    border: 0px solid black;
    border-bottom: 1px solid black;
    color: gray;
    background: linear-gradient( 180deg , rgba(255,255,255,0), rgba(255,255,255,0), rgba(255,255,255,1));
    height: 20pt;
    width: 600px;
}
input[type=text]:hover{
    border-bottom: 1px solid black;
}
input[type=text]:focus{
    border-bottom: 1px solid black;
    outline: none;
}
input[type=button]{
    border-radius:  3px;
    display: inline;
    padding: 8px;
    background-color: black;
    color: white;
    font-size: 16pt;
}
input[type=button]:hover{
    cursor: pointer;
    background-color: black;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
input[type=button]:focus{
    outline: none;
}
.marcaDAgua{
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 150px;
    font-size: 500pt;
    color: rgba(0,0,0,0.03);
}